# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# privat
/stefanoInternally
/staticDev
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.build
# regular env File
.env


# vercel
.vercel

# next.js build output
.next/cache
.next
.next/
