.previewIframe {
  width: 100%;
  height: 100%;
  border: 0;
  pointer-events: auto;
}
  /* 1: IF pointer-events is NOT set to none for the Iframe, then SplitPane will have issues  onDragFinished */
  /* 2: BUT IF the pointer-events rule IS set to NONE for the Iframe, then the Irfame-Content cannot be clicked anymore.
   ==>  To prevent the second issue we will toggle the state on Drag, also see: https://github.com/tomkp/react-split-pane/issues/30  */
.isInteractive {
  pointer-events: none !important ;
}
@media only screen and (min-width: 1350px) {
  .customSelect,
  .longURLButtons {
    width: 40vw;
  }
}
@media only screen and (max-width: 1350px) {
  .customURL {
    display: none;
  }
}
.customURL {
    color: white;
    padding: 3px;
    border: 3px;
    opacity: .5;
    width: 10vw;
}
.customURL span {
    font-size: 0.8vw;
    word-break: break-all;
}
.customURL span span {
    /*display: none;*/
    position: absolute;
}
.loading {
  width: 100vw;
  height: 100vh;
  background: #1d1e22;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tahoma;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  min-height: 60px;
  background-color: #1d1e22;
  border-bottom: 5px solid #333642;
}
.button {
  background-color: #333642;
  color: #fff;
  font-size: 15px;
  padding: 3px 20px;
  margin-right: 10px;
  border: 3px solid #444857;
  border-radius: 8px;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #5a6074;
}