.previewIframe {
  width: 100%;
  height: 100%;
  border: 0;
  pointer-events: auto;
}


/* .isInteractive: */
  /* 1: IF pointer-events is NOT set to none for the Iframe, then SplitPane will have issues  onDragFinished */
  /* 2: BUT IF the pointer-events rule IS set to NONE for the Iframe, then the Irfame-Content cannot be clicked anymore.
   ==>  To prevent the second issue we will toggle the state on Drag, also see: https://github.com/tomkp/react-split-pane/issues/30  */
/* //  useState-Hook "IsDragging" will toggle as a boolean Value  */
.isInteractive {
  pointer-events: none !important ;
}




/* START LOADING SPINNER FOR SHORTURL RESULT-PAGE */
.trans {
     opacity: 1;
     z-index: 9;
     transition: opacity 1.5s linear, z-index 1.5s 2s ;
    text-align: center;
    padding: 2em !important;
}
.trans.disNone {
  opacity: 0;
  z-index:  -9;
}
.visHide {
  visibility: hidden !important;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}
.short {
  height: 99.9vh;
}
/* END LOADING SPINNER FOR SHORTURL RESULT-PAGE */


/* TrashIcon */
.trashIcon {
  color: floralwhite;
  font-size: 36px;
  width: .6em;
  min-width: .6em;
  display: none;
}
/* TrashIcon */





@media only screen and (min-width: 1050px) {
  .customSelect  {
    width: 40vw;
  }
  .longURLButtons {
    width: 60vw;
  }
}
@media only screen and (max-width: 1050px) {
  .customURL {
    display: none;
  }
}
.customURL {
    color: floralwhite;
    padding: 3px;
    border: 3px;
    opacity: .5;
    width: 25vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.customURL:hover {
    opacity: 1;
    z-index: 99999;
}
.customURL span {
    font-size: 0.8vw;
    /*word-break: break-all;*/
}
.customURL span span {
    display: none;
}


.customURL span:hover > span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: .3vh;
    height: 5vh;
    left: 47vw;
    text-align: center;
    background-color: #333642;
    color: #fff;
    font-size: 15px;
    padding: 3px 20px;
    margin-right: 10px;
    border: 3px solid #444857;
    border-radius: 8px;
    cursor: pointer;
    width: 50vw;
    overflow: hidden;
    border: 2px solid red;
}
.customURL span:hover > span a {
    color: black;
    color: floralwhite;
    cursor: alias;
}
.loading {
  width: 100vw;
  height: 100vh;
  background: #1d1e22;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tahoma;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  min-height: 60px;
  background-color: #1d1e22;
  border-bottom: 5px solid #333642;
}
.button {
  background-color: #333642;
  color: #fff;
  font-size: 15px;
  padding: 3px 15px;
  margin-right: 10px;
  border: 3px solid #444857;
  border-radius: 8px;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #5a6074;
}








/*start spinner*/
.loading span  {
    text-align: left;
    margin-left: 13px;
    width: 100px;
    height: 87px;
    border-radius: 100%;
    position: absolute;
    top: 33%;
    left: calc(50% - 60px);
}

.loading span span {
    font-size: .95em;
    color: darkgrey;
}

.loading span span::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}
@keyframes dots {
  to {
    width: 15px;
  }
}
/*end loading spinner*/









/*start Additional Spinner Animation */
/*https://codepen.io/Mattykins/pen/wfJqk?editors=1100*/
/*https://codepen.io/martinvd/pen/xbQJom?editors=1100*/


.loading {
  /*background: linear-gradient(90deg, #00b377, #00d68f);*/
  /*background: linear-gradient(90deg, #141415, #1b1d25);*/
/*  background: linear-gradient(90deg, #14141569, #080a11);*/
  background: linear-gradient(90deg, #090a19, #080a11);
  /*box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.5);*/
  margin: 0px;
  padding: 0px;
}


 .demo {
  width: 100px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: 45%;
  left: calc(50% - 50px);
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.circle .inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
/*  border: 5px solid rgba( 0, 255, 170, 0.7);*/
  border: 5px solid rgba(28,  29,  33, 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
/*  box-shadow: inset 0px 0px 10px rgba(  0, 255, 170, 0.15);*/
  box-shadow: inset 0px 0px 10px rgba(28,   29,  33, 0.15);
  box-sizing: content-box;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  transform: rotate(0deg);
}
.circle:nth-of-type(0) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
  transform: rotate(70deg);
}
.circle:nth-of-type(1) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(2) {
  transform: rotate(140deg);
}
.circle:nth-of-type(2) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.demo {
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
}
/*end Additional Spinner Animation */




/* Start: Mobile Devices - Toggle Classes */
.desktop.toggle_IframeIntoView {
  display: block !important;
}
.smartphone.toggle_IframeIntoView,
.desktop.toggle_IframeIntoView > .header,
.marginTopZero  > div:nth-of-type(1),
.marginTopZero  > span {
  display: none !important;
}

.marginTopZero  > div:nth-of-type(2) {
    display: block;
    position: static !important;
}

.smartphone {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    min-height: 60px;
    background-color: #1d1e22;
    border-bottom: 5px solid #333642;
    height: 100vh;
    width: 100%;
}
.link {
    color: indianred !important;
    line-height: 2;
    cursor: pointer;
    text-decoration: underline;
}
.imp.marginTopZero  {
  margin-top: 0px !important;
  height: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  min-height: 100% !important;
}
@media only screen and (max-width: 1250px) {
    .desktop {
      display:none;
    }
    .smartphone {
        display: flex;

    }
    .smartphone div {
        color: floralwhite;
        text-align: center;
        padding: 1em;
    }
  }
/* END: Mobile Devices - Toggle Classes */


