/* requestly_insert_content.css  will get appended via JS File requestly_insert_content.js  */



/* Button für den Overlay-Hinweis mit dem Passwort darin */
.submit-button,
.submit-button-two
 {
    background-color: #4CAF50 !important;
    border: 2px solid #0d412f !important;
    border-radius: 25px !important;
    color: white !important;
    padding: 11px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 15px !important;
    width: 100% !important;
    font-weight: bold !important;
    cursor: pointer !important;
}

#passThisWord {
    display: none !important;
}

.field--password {
    background-color: white !important;
    width: 100% !important;
    height: 25px !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    padding: 0 0% !important;
    text-align: center !important;
    border-width: 0 !important;
}

/* overlay-password */
.error {
    display: none  !important;
    color: red;
    margin: 0 0 10px 0;
}

/*
.modal {
    position: fixed !important;
    background: #000 !important;
    color: #fff !important;
    border: 10px solid #fff !important;
    width: 440px !important;
    max-width: 440px !important;
    height: 480px !important;
    max-height: 480px !important;
    top: 320px !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999 !important;
    padding: 15px !important;
    font-size: 16px !important;
    line-height: 1.3 !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}  */

.modal {
    position: fixed !important;
    background: #000 !important;
    color: #fff !important;
    border: 10px solid #fff !important;
    width: 34vw !important;
    max-width: 660px !important;
    height: 76vh !important;
    max-height: 630px !important;

    top: 8vh !important;
    left: 33vw !important;

/*    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
    z-index: 10000000 !important;
    padding: 15px !important;
    font-size: 16px !important;
    line-height: 2 !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em !important;
}

code {
    color: #ea0a8e
}

div.modal.password-modal-two  {
    visibility: hidden !important;
}


@media only screen and (max-width: 768px) {
        .modal {
            top: 270px !important;
        }
    }

div.modal.password-modal > a,
div.modal.password-modal-two > a  {
    font-size: 15px !important;
}

.modal label {
    color: #fff !important;
}
.overlay-modal-info {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 99vh !important;
    background: rgba(0, 0, 0, 0.8) !important;
   /* z-index: 9998 !important;*/
    z-index: 9999999 !important;
}

#WasZeigtMirDieseSeite,
#WasZeigtMirDieseSeite-two {
     background-color: initial !important;
}

.most_important_inside {
    max-width: 550px;
    margin: 0 auto;
}


/* REGELN FUER DEN OVERLAY-HINWEIS LAYER mit dem PASSWORD */

@media (max-width: 700px) {


    /* REGELN FUER INFO-LAYER  AUF MOBILE DEVICES START */
    .modal,
    .overlay-modal-info {
        /* position: absolute; */
    }
    /* REGELN FUER INFO-LAYER  AUF MOBILE DEVICES ENDE */


    .submit-button,
    .submit-button-two {
        width: 100% !important;
    }


    #most_important,
    #most_important-two  {
        font-size: 15px !important;
        line-height: 1.2 !important;
        max-width: 99vw !important;
        width: 90vw !important;
        left: 5vw !important;
        top: 3vh !important;
        height: 81vh !important;
        max-height: 81vh !important;
        padding: .5em !important;
    }
     .most_important_inside {
        font-size: 15px !important;
        line-height: 1.75 !important;
    }
}

@media (min-width: 580px) and  (max-width: 1250px)   {
    #most_important,
    #most_important-two  {
    font-size: 15px !important;
    line-height: 2.2 !important;
    max-width: 60vw !important;
    width: 90vw !important;
    left: 15vw !important;
    top: 8vh !important;
    height: 74vh !important;
    max-height: 550px !important;
    }
}



@media (max-width: 340px) {
   .most_important_inside {
    font-size: 14px !important;
    line-height: 1.2 !important;
    }
}

@media (max-height: 680px) {
    body .modal {
        font-size: 1.125rem;
        line-height: 1.2 !important;
    }
}

/* Workaround against undesired SAFARI Issue on Button webkit-appearance.  Please see: https://stackoverflow.com/questions/5438567/css-submit-button-weird-rendering-on-ipad-iphone */
input[type="button" i], input[type="submit" i], input[type="reset" i] {
    -webkit-appearance: none !important;
}