
/* START TOGGLE NEW PROJECT LAYOUT  ==> TOGGLE VISIBILITY */
 .toggleView.isVisible_TheCreateNewProjectField .button-group ,
 .toggleView.isVisible_TheCreateNewProjectField .Pane.horizontal.Pane2
   {
    opacity: .2;
  }
  .toggleView.isVisible_TheCreateNewProjectField .SplitPane.horizontal {
    margin-top: 150px !important;
  }
.toggleView.isVisible_TheCreateNewProjectField .longURLInput {
    display: inline-block !important;
    margin: 30px 0;
    max-width: 56vw;
  }
.toggleView.isVisible_TheCreateNewProjectField .longURLButtons {
  width: 100vw !important;
}
.toggleView.isVisible_TheCreateNewProjectField .slogan  {
  color: white;
  display: inline-block !important;
  right: 1vw;
  position: absolute;
  top: 8vh;
}
.toggleView.isVisible_TheCreateNewProjectField .customURL ,
.toggleView.isVisible_TheCreateNewProjectField .custom-select  {
  display: none;
}
.toggleView.isVisible_TheCreateNewProjectField .newProjectButtons {
  display: inline-block !important;
}
.isVisible_NoActiveProject .toggleOnlongURLValue {
  display: none;
}
/* END TOGGLE NEW PROJECT LAYOUT */



/*https://css-tricks.com/snippets/css/glowing-blue-input-highlights/*/
.doBlink {
  -webkit-transition: all 1.19s ease-in-out !important;
  -moz-transition: all 1.19s ease-in-out !important;
  -ms-transition: all 1.19s ease-in-out !important;
  -o-transition: all 1.19s ease-in-out !important;
  outline: none !important;
  padding: 3px 0px 3px 3px !important;
  margin: 0px 1px 3px 0px !important;
  border: 2px solid rgba(8,221,50,.7) !important;
}
.doBlink:focus  {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 0px 1px 3px 0px !important;
  border: 2px solid rgba(8,221,50,1) !important;
  text-align: center ;
}







.projectName-InputField.provideProjName,
.SaveButton-for-ProjName.provideProjName {
visibility: visible !important;
position: relative;
z-index: 1;
}

.createNewProject {
   margin: 0 1em;
}


.SaveButton-for-ProjName {
    width: 5vw !important;
}

.bootstrapButton {
    font-size: 46px;
}


div.custom-select > svg  {
    margin: 0 .2em;
    cursor: pointer;
}


.longURLInput.form-control.form-input {
    color: darkslategrey;
    text-align: center;
}


 span.newProjectButtons > svg {
    margin: 0 .2em;
    cursor: pointer;
}

 span.newProjectButtons > svg:nth-child(1) {
    color: red !important;
}






body {
    margin: 0px;
    font-family: Garamond,serif;
    font-size: 12px;
}
.Resizer {
    z-index: 10000;
    box-sizing: border-box;
    background-clip: padding-box;
}

.Resizer:hover {
    transition: all 2s ease;
    border: 10px solid #333642;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    cursor: row-resize;
    width: 100%;
    border: 8px solid #333642;
}

.Resizer.vertical {
    margin: 0 -5px;

    cursor: col-resize;
    border: 8px solid #333642;
}

.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}

.ace_fold-widget  {
    border: 1px solid green;
}


.ace_fold-widget.ace_open {
    border: 1px solid red;
}




.ace_fold-widget  {
  display: inline;
  position: relative;
}

.ace_fold-widget:hover {
  color: #c00;
  text-decoration: none;
}

.ace_fold-widget:hover:after {
  background: #111;
  background: rgba(0, 0, 0, .8);
  border-radius: .5em;
  bottom: 1.35em;
  color: #fff;
  content: attr(title);
  display: block;
  left: 1em;
  padding: .3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}

.ace_fold-widget:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(0, 0, 0, .8) transparent;
  border-width: .4em .4em 0 .4em;
  bottom: 1em;
  content: "";
  display: block;
  left: 2em;
  position: absolute;
  z-index: 99;
}

.custom-select{
    display: flex;
    align-items: flex-start;
}
.form-input{
    height: 36px;
    margin: 0 10px;
    font-family: Garamond,
    serif;
}